@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  height: 100%;
  width: 100%;
  background: #212121;
}

html, body {
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #555 #212121;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  overflow-y: auto;
  scroll-behavior: smooth;
  color: #E4E4E4;
}

.scoreboard {
  background-color: #383838;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 4px #141414;
  max-width: 90%;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #E4E4E4;
}

.header-row {
  display: grid;
  grid-template-columns: 120px repeat(11, 1fr);
  margin-bottom: 15px;
}

.header-cell {
  margin-right: 25px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  background-color: #505050;
  border-radius: 10px;
  border: 1px solid #E4E4E4;
}

.player-row {
  display: grid;
  grid-template-columns: 100px repeat(11, 1fr);
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #E4E4E4;
}

.player-name {
  background-color: #505050;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid #E4E4E4;
  text-align: center;
  font-weight: bold;
  margin-right: 15px;
}

.player {
  /* TODO: make centered */
  margin: auto;
}

.frame {
  margin-right: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #E4E4E4;
}

.frame-balls {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 15px;
  height: 25px;
}

.ball {
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  width: 35px;
  height: 35px;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
}

.score {
  margin-top: 10px;
  margin-left: 10px;
  width: 75px;
  height: 35px;
  font-size: 25px;
  text-align: center;
  background-color: #505050;
  border-radius: 10px;
  border: 1px solid #E4E4E4;
  padding: 5px;
}

.total-score {
  margin-top: 10px;
  margin-left: 10px;
  width: 120px;
  height: 120px;
  font-size: 65px;
  text-align: center;
  background-color: #505050;
  border-radius: 10px;
  border: 1px solid #E4E4E4;
  padding: 5px;
}

button {
  margin-left: 2%;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(135deg, #4caf50, #81c784);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background: linear-gradient(135deg, #388e3c, #66bb6a);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
