<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <label for="test">Test input</label>
    <input type="text" id="test" name="test">
    <button id="testButton" onClick="test()">Submit</button>

    <script src="/static/test.js"></script>
  </body>
</html>
